ansible-core==2.18.5 ; python_version >= "3.11"
ansible==11.5.0 ; python_version >= "3.11"
cffi==1.15.1 ; python_version >= "3.11"
cryptography==40.0.2 ; python_version >= "3.11"
jinja2==3.1.2 ; python_version >= "3.11"
jmespath==1.0.1 ; python_version >= "3.11"
markupsafe==2.1.2 ; python_version >= "3.11"
netaddr==0.8.0 ; python_version >= "3.11"
packaging==23.1 ; python_version >= "3.11"
pycparser==2.21 ; python_version >= "3.11"
pyyaml==6.0.2 ; python_version >= "3.11"
resolvelib==0.8.1 ; python_version >= "3.11"
